<nav class="hidden items-center gap-8 text-sm font-medium lg:flex">
    <a href="/about" class="nav-link hover:text-black text-gray-600">About</a>
    <a href="/bus-timing" class="nav-link hover:text-black text-gray-600">Bus Timings</a>
    <a href="/restaurants" class="nav-link hover:text-black text-gray-600">Restaurants</a>
    <a href="/attractions" class="nav-link hover:text-black text-gray-600">Attractions</a>
    <a href="/events" class="nav-link hover:text-black text-gray-600">Events</a>
    <a href="/phonebook" class="nav-link hover:text-black text-gray-600">Phonebook</a>
    <a href="/stores" class="nav-link hover:text-black text-gray-600">Stores</a>
    <a href="/services" class="nav-link hover:text-black text-gray-600">Services</a>
</nav>
