---
permalink: '/sitemap.xml'
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for entry in collections.all %} {% if entry.url and not
  entry.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ entry.url | url }}</loc>
    <lastmod>{{ entry.date | dateToISO or "2026-05-31" }}</lastmod>
    <changefreq>{% if entry.url == "/" %}daily{% else %}weekly{% endif %}</changefreq>
    <priority
      >{% if entry.url == "/" %}1.0{% elif entry.data.layout and "layouts" in entry.data.layout
      %}0.8{% else %}0.6{% endif %}</priority
    >
  </url>
  {% endif %} {% endfor %}
</urlset>
